/* variables */
html {
  --main-bg-color: #DDDDDD;
  --header-height: 50px;
  --content-height: calc(100vh - var(--header-height));
  --side-bar-width: 300px;
  --light-grey: rgba(244, 250, 255, 1);
  --smoke: rgba(222, 231, 231, 1);
  --violet: rgba(183, 173, 207, 1);
  --blue: rgba(79, 100, 111, 1);
  --dark-grey: rgba(83, 86, 87, 1);
  --side-bar-border-right: 1px solid var(--smoke); 
  --side-bar-padding: 20px;
  --side-bar-translation: translateX(calc(var(--side-bar-width) * -1));

  --node-details-width: 700px;
  --node-details-border-left: 1px solid var(--smoke);
  --node-details-padding: 20px;
  --node-details-translation: translateX(var(--node-details-width));

  overflow: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;

  font-family: Arial;
}
/* /variable */

/* layout states */
html.--side-bar-expanded {
  --side-bar-translation: translateX(0);
}
html.--node-details-expanded {
  --node-details-translation: translateX(0);
}
/* /layout state */

body {
  background: var(--main-bg-color);
  padding: 0;
  margin: 0;
}

.header {
  background: var(--dark-grey);
  height: var(--header-height);
  overflow: hidden;
  color: var(--light-grey);
}

.header__title {
  
}

.header__context-tools {

}

.header__general-tools {

}

.content {
  display: flex;
  flex-direction: row;
}

.content__side-bar {
  background: var(--light-grey);
  height: var(--content-height);
  min-width: var(--side-bar-width);
  border-right: var(--side-bar-border-right);
  padding: var(--side-bar-padding);
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  transform: var(--side-bar-translation);
  transition: all 0.1s linear;
}

.node-types__node-type {
  padding: 5px 10px;
  box-shadow: 1px 2px 1px 0px rgba(0,0,0,0.22);
  position: relative;
  width: 260px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 15px;
  cursor: pointer;
}

.node-types__node-type__icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.content__main-content {
  background: var(--light-grey);
  height: var(--content-height);
  flex-grow: 1;
  overflow: auto;
}

.node-details {
  transition: all 0.1s linear;
  background: var(--light-grey);
  height: var(--content-height);
  min-width: var(--node-details-width);
  border-left: var(--node-details-border-left);
  padding: var(--node-details-padding);
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  transform: var(--node-details-translation);
  color: var(--dark-grey);
}

.node-details__section-header {
  font-size: 25px;
  margin-bottom: 15px;
}

.node-details__main-form {
  margin-bottom: 30px;
}
.node-details__ports__port {
  margin-bottom: 15px;
}
.node-details__ports__port__name {
  margin-bottom: 7px;
  font-size: 22px;
}